body {
  height: 720px;
  width: 1280px;
  border-radius: 0px;
  display: flex;
  background-color: #ffcd7e;
}

.layer-1 {
  position: relative;
  width: 200px;
  height: 100px;
}
.layer-2 {
  position: relative;
  margin-top: -65%;
  margin-left: 90%;
}