body {
  margin-top: 15%;
  margin-left: 32%;
  width: 500px;
  height: 150px;
  background-color: #ffcd7e;
}
.layer-1 {
  position: relative;
  /* width: 200px;
  height: 100px; */
}
.layer-2 {
  position: relative;
  margin-top: -65%;
  margin-left: 90%;
}
/* .layer-3 {
  position: relative;
  color: #ff0000;
  background-color: red;
  width: 200px;
  height: 100px;
  margin-top: -25%;
  margin-left: 10%;
} */
